<div class="u-mrg-b-8">
  <div class="o-flexy">
    <div class="o-flexy__item u-mrg-r-5">
      <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" class="t-no-underline u-d-block">
        <h1 class="t-300 t-lh-reset u-mrg-0">
          seed.css
        </h1>
      </a>
    </div>
    <div class="o-flexy__item">
      <div style="width: 24px; height: 24px;">
        <a href="https://github.com/helpscout/seed-docs" target="_blank" title="Seed Docs on Github" class="u-d-block">
          {% include icons/github.html %}
        </a>
      </div>
    </div>
  </div>
</div>
