<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.url == "/" %}
    {% assign title = site.title %}
  {% else %}
    {% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
  {% endif %}

  {% if page.description %}
    {% assign description = page.description %}
  {% else %}
    {% if page.excerpt %}
      {% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
      {% assign description = site.description %}
    {% endif %}
  {% endif %}
  <title>{{ title | escape }}</title>
  <meta name="description" content="{{ description | truncate: 160 }}">

  <!-- Hello you wonderful view sourcer :). -->
  <!-- You can find the source code this site here: -->
  <!-- https://github.com/helpscout/seed-docs -->

  <!-- Have a great day!!! -->

  <!-- P.S. The stylesheet below is intentionally unminified. -->
  <!-- Sure that means that the page loads slightly slower. -->
  <!-- But, it makes it easier to inspect and poke around. -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url | cachebuster }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
