<div class="u-mrg-b-8">
  <div class="o-flexy">
    <div class="o-flexy__item u-mrg-r-6">
      <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" class="tx-no-underline u-d-block">
        <h1 class="tx-300 tx-lh-reset u-mrg-0">
          seed.css
        </h1>
      </a>
    </div>
    <div class="o-flexy__item u-mrg-r-auto u-pad-t-1">
      <a href="/seed-docs/packs">
        Packs
      </a>
    </div>
    <div class="o-flexy__item u-pad-t-1">
      <a href="https://github.com/helpscout/seed-docs" target="_blank" title="Seed Docs on Github" class="u-d-block">
        {% include icons/github.html %}
      </a>
    </div>
  </div>
</div>
