<div class="u-mrg-b-8">
  <div class="u-clearfix">
    <div class="u-pull-left">
      <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" class="tx-no-underline u-d-block">
        <h1 class="tx-300 tx-lh-reset u-mrg-0">
          seed.css
        </h1>
      </a>
    </div>
    <div class="u-pull-right u-pad-t-2">
      <a href="https://github.com/helpscout/seed-docs" target="_blank" title="Seed Docs on Github" class="u-d-block">
        {% include icons/github.html %}
      </a>
    </div>
  </div>
</div>
