{% if page.previous.url or page.next.url %}
  <div class="u-pad-t-2">
    <hr class="u-mrg-v-10">
    <div class="o-row tx-center">
      <div class="o-col-6">
        {% if page.previous.url %}
          <h5 class="u-mrg-t-0 u-mrg-b-2">Previous</h5>
          <a href="{{ page.previous.url | prepend: site.baseurl }}">{{page.previous.title}}</a>
        {% endif %}
      </div>
      <div class="o-col-6">
        {% if page.next.url %}
          <h5 class="u-mrg-t-0 u-mrg-b-2">Next</h5>
          <a href="{{ page.next.url | prepend: site.baseurl }}">{{page.next.title}}</a>
        {% endif %}
      </div>
    </div>
    <hr class="u-mrg-t-10 u-mrg-b-5">
  </div>
{% endif %}
