// Typography :: Base

// Dependencies
// Note: The seed pack @imports aren't necessary, as the entire pack is already
// being imported in main.scss. However, this pattern is useful to indicate
// where custom mixins (such as breakpoint()) are coming from.
@import "pack/seed-breakpoints/mixins/base";
@import "pack/seed-typography/mixins/smooth";
// This comes from the project's own variables directory in scss/.
@import "variables/color";

& {
  @include text-smooth;
  font-family: $font-family-base;
  line-height: $line-height-base;

  @include breakpoint(md) {
    font-size: $font-size-base;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: $line-height-heading;
  }

  a {
    color: $color-primary;
  }
}
