// Base :: Typography

// Dependencies
@import "pack/seed-typography/functions/heading";

& {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  // TODO: Add this typescale "reset" as an optional setting in seed-reset
  // Default is enabled.
  h1 {
    font-size: t-heading(h1);
  }

  h2 {
    font-size: t-heading(h2);
  }

  h3 {
    font-size: t-heading(h3);
  }

  h4 {
    font-size: t-heading(h4);
  }

  h5 {
    font-size: t-heading(h5);
  }

  p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
}
