<section class="u-mrg-v-8">
  <header>
    <h2 class="t-h3 u-mrg-b-0">
      Guides
    </h2>
  </header>
  <hr>
  {% assign posts = site.guides %}
  {% for post in posts %}
    <div class="u-pad-v-4">
      <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="t-no-underline">
        <h3 class="t-h4 t-400 u-d-inline-block u-mrg-b-2">
          {{ post.title }}
        </h3>
      </a>
      {% if post.description %}
        <p class="u-mrg-0 t-sm u-op-6">
          {{ post.description }}
        </p>
      {% endif %}
    </div>
    <hr>
  {% endfor %}
</section>
